/* ******commons****** */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenitor{
    width: 70%;
    margin: auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* proprietà box */

.box{
    width: calc( 100% / 3 - 20px );
    margin: 10px;
    float: left;
}

/* proprietà delle immagini */

.card{
    height: 440px;
    position: relative;
}

/* proprietà heart */

.card > .heart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 25px;
    background-color: white;
    position: absolute;
    top: 15px;
    right: 0;
}

/* proprietà scount */

.scount{
    position: absolute;
    left: 0;
    bottom: 15px;
}

.scount .number, .scount .support{
    font-size: 14px;
    font-weight: bold;
    color: white;
    padding: 4px;
}

.scount > .number{
    background-color: red; 
}

.scount > .support{
    background-color: green;
}


/* proprietà text */


/* ******debug****** */

.contenitor.debug{
    height: 1100px;
    background-color: grey;
}

.debug .box{
    height: 500px;
    background-color: yellow;
    border: 1px solid black;
}

.debug .card{
    background-color: violet;
}

/* .debug .heart{
    width: 50px;
    height: 50px;
    background-color: red;
} */

/* .debug .scount{
    width: 200px;
    height: 30px;
    background-color: green;
} */

.debug .text{
    height: 60px;
    background-color: lightblue;
}

.debug .brand,
.debug .name,
.debug .price{
    height: calc( 60px / 3 );
    border: 1px solid black;
}